<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Gender Detection Algorithm</title>
</head>
<body>

<form action="/result">
    <h1>Gender detection algorithm</h1><br>
    <p>Algorithm works in simple or full version. Simple determines your name only by a first name, while full checks all.</p>
    <p>Please enter all of Your names</p>
    <input type="text" name="names"><br>
    <p>Please select version</p>
    <select name="version">
        <option value="simple">SIMPLE</option>
        <option value="full">FULL</option>
    </select>
    <input type="submit" value="Generate">
    <section style="position: absolute; bottom: 5px; right: 25px;">
        <p>
            Sprawdź inne moje projekty
            <a href="https://github.com/KamilRogala25"
               target="_blank" title="Like My Page!">
                github.com/KamilRogala25
            </a>
        </p>
    </section>

</form>
</body>
</html>